@charset "UTF-8";
tree-view {
  display: block;
}

tree-view .collapsing.in {
  overflow: visible;
}

tree-view ul {
  padding-left: 0;
}

tree-view ul li {
  display: block;
}

tree-view ul li .node:before, tree-view ul li .node:after {
  display: table;
  content: " ";
}

tree-view ul li .node:after {
  clear: both;
}

tree-view ul li .node:hover {
  background: #D8ECF6;
}

tree-view ul li .node.selected {
  background: #D8ECF6;
}

tree-view ul li .node {
  margin-left: -15px;
  margin-right: -15px;
  margin: 0;
  padding: 8px 0;
  border-bottom: 1px solid #e4eaec;
}

tree-view ul li .node div:first-child i.no-child, tree-view ul li .node div:first-child i.has-child, tree-view ul li .node div:first-child i.has-child-open {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 0.3475rem;
  margin-right: 0.3475rem;
}

tree-view ul li .node div:first-child i.no-child:before, tree-view ul li .node div:first-child i.has-child:before {
  content: "";
}

tree-view ul li .node div:first-child i.has-child-open:before {
  content: "";
}

tree-view ul li .node div:first-child span {
  padding: .1475rem;
}

tree-view ul li .node div:first-child span .selected {
  background: #D8ECF6;
}

tree-view tree-view {
  padding-left: 1.3475rem;
}
